.app {
    background: #FED0B5 !important;
}

.planning {
    background: #DBE2E9 !important;
}

.design {
    background: #E9FF91 !important;
}

.website {
    background: #B3D6FE !important;
}

.frontend {
    background: #B496DC !important;
}
