.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
    color: #2A2D3A;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out 0s;
}

.active {
    top: 0;

}

.content {
    padding: 15px 25px;
    background: #FFF;
    border-radius: 10px;
}

.closeButton {
    display: flex;
    padding: 5px;
    background: transparent;
    margin: 0 0 0 auto;

}

