.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.heading {
    color: #DBE2E9;
    font-size: 36px;
    margin-top: 10vh;
}

.heading span {
    color: #EC3A86;
}

.image {
    width: 100%;
    max-width: 350px;
}

.link {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 15px;
    padding: 10px;
    color: #EC3A86;
}

.link svg {
    fill: #EC3A86;
}