.cardsContainer {
    display: flex;
    gap: 50px;
}

.title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}

.row > div {
    width: 350px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.cardContainer {
    opacity: 1;
    transition: all .2s ease-in-out 0s;
    border-radius: 10px;
}

.cardContainer.grabElement {
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.2);
}

.cardContainer.selected {
    opacity: .3;
}